
<div *ngIf="layslipGridDetails">
    <h2><span>Layslip Grid Details</span> {{layslipGridDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Lay Slip No</span></dt>
        <dd>
            <span>{{layslipGridDetails.laySlipNo}}</span>
        </dd>
        <dt><span>Sub Layslip No</span></dt>
        <dd>
            <span>{{layslipGridDetails.subLayslipNo}}</span>
        </dd>
        <dt><span>Main Grid</span></dt>
        <dd>
            <span>{{layslipGridDetails.mainGrid}}</span>
        </dd>
        <dt><span>Pillows</span></dt>
        <dd>
            <span>{{layslipGridDetails.pillows}}</span>
        </dd>
        <dt><span>Wast Fabric</span></dt>
        <dd>
            <span>{{layslipGridDetails.wastFabric}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'layslip-grid-details/'+ layslipGridDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
